@{
    ViewData["Title"] = "홈";
}

<style>
    .custom-margin {
        margin-bottom: 800px; /*원하는 bottom여백 크기*/
    }

    .slideshow-container {
        width: 95%; /*슬라이드쇼 전체 너비*/
        float: left; /* 왼쪽정렬 */
    }

    .carousel {
        max-width: 80%; /* 슬라이드쇼의 최대 너비*/
        
    }

    .category-card {
        height: 900px;
        width: 100%;
         /* 왼쪽 여백을 추가하여 슬라이드와 겹치지 않도록*/
        float: left;
    }
</style>

<div class="container mt-3">
    <div class="row">
        @*//가로 배치 방법*@
        <div class="row">

            <div class="col-sm-3 p-3 text-white text-center" style="background-color: #555555" ;>
                @Html.ActionLink("명  칭","Name","Findassets", null, new { style = "text-decoration: none; color: white;" })
            </div>
            <div class="col-sm-3 p-3 text-white text-center" style="background-color: #4D5E9C">
                @Html.ActionLink("종 목 별", "Type", "Findassets", null, new { style = "text-decoration: none; color: white;" })
            </div>
            <div class="col-sm-3 p-3 text-white text-center" style="background-color: #555555" ;>
                @Html.ActionLink("시 대 별","Period","Findassets", null, new { style = "text-decoration: none; color: white;" })
            </div>
            <div class="col-sm-3 p-3 text-white text-center" style="background-color: #4D5E9C" ;>
                @Html.ActionLink("소 재 지","Address","Findassets", null, new { style = "text-decoration: none; color: white;" })
            </div>
            
        </div>

        @*<div class="col-md-3 mb-4">
            <div class="card" style="background-color: #3D4F9C; height: 200px; ">
                <div class="card-body text-center">카테고리 분류 1</div>          
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card bg-secondary" style="height: 200px;">
                <div class="card-body text-center">카테고리 분류 2</div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card bg-secondary" style="height: 200px;">
                <div class="card-body text-center">카테고리 분류 3</div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card bg-secondary" style="height: 200px;">
                <div class="card-body text-center">카테고리 분류 4</div>
            </div>
        </div>*@

        <div class="container-fluid mt-3">
            <h1>대전 문화재 기록 관리 홈페이지</h1>           
            <p>분야별 검색을 통해 대전 문화재를 확인할 수 있습니다.</p>
            <p>문화재 구분(종목별, 시대별, 소재지, 한 눈에 보기) 기능을 이용해 주세요.</p>
        </div>
    </div>
   
        
    <div class="slideshow-container">
    <div class="row">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                        <img src="~/image/나신걸_한글편지.jpg" alt="나신걸_한글편지" class="d-block mx-auto" style="width:100%">
                        <div class="carousel-caption">
                            <strong><h3>나신걸 한글편지</h3></strong>
                            <p>보물</p>
                        </div>
                </div>
                <div class="carousel-item">
                        <img src="~/image/대전_회덕_동춘당.jpg" alt="대전_회덕_동춘당" class="d-block mx-auto" style="width:100%">
                        <div class="carousel-caption">
                            <strong><h3>회덕 동춘당</h3></strong>
                            <p>보물</p>
                        </div>
                </div>
                <div class="carousel-item">
                        <img src="~/image/용화사석불입상.jpg" alt="용화사석불입상" class="d-block mx-auto" style="width:100%">
                        <div class="carousel-caption">
                            <strong><h3>용화사석불입상</h3></strong>
                            <p>대전광역시 유형문화재</p>
                        </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

        <div class="col-md-2 mb-2">
                <div class="col-sm-3 p-3 bg-warning" style="height: 642px; width: 285px; border: 2px solid #4D5E9C;">
                    <strong></strong><h5> <div class="card-body text-center">
                            @Html.ActionLink("퀴 즈 !","Quiz","Quiz", null, new { style = "text-decoration: none; color: white;" })
                    </div> </h5></strong>
            </div>
        </div>

    <!-- 여백을 추가할 부분 -->
    <div class="custom-margin"></div>
   </div>
    </div>
</div>